.editor
{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputBox{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.editField{
    width: 30vw;
}
.previewImg{
    height: 45vh;
}
.buttonsDiv{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}